.buttonClass {
  height: 30px;
  border-radius: 5px;
  color: rgb(95, 95, 95);
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(110, 126, 124, 0.116);
  border-color: rgba(146, 156, 155, 0.678);
}

.editbutton {
  display: none;
}

input {
  border-radius: 5px;
}

#category {
  margin-top: 80px;
}

#category-nav {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

#category-nav li {
  display: inline;
  cursor: pointer;
}

#category-nav li a {
  color: black;
  padding: 8px;
}

#list-of-todos {
  width: 70%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 450px;
  overflow: scroll;
  scroll-behavior: smooth;
}

#list-of-todos li {
  padding-bottom: 10px;
  padding-right: 15px;
  display: flex;
  flex: row;
  justify-content: space-between;
}

#list-of-todos li:hover {
  font-weight: 600;
}

#list-of-todos li:hover button {
  display: block;
}

#list-of-todos li button:hover {
  background-color: rgba(69, 78, 77, 0.61) !important;
}

/* todo: doesn't work */
.buttonClass:focus {
  outline: none !important;
}
.buttonClass:active {
  border-color: #6e7e7c;

  outline: none !important;
}

#list-of-todos li p {
      cursor: pointer;
    margin: 0;
}

.buttonClass:disabled {
  pointer-events: none;
  color: rgba(128, 128, 128, 0.596);
  border: rgba(128, 128, 128, 0.596);
}

.completedline {
  text-decoration: line-through;
}

button img {
  height: 20px;
  width: auto;
}

.button-group {
  display: flex;
  flex-direction: row;
}
