:root {
  /* background-image: url('./images/kelly-sikkema-Oz_J_FXKvIs-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 200vh; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.TodoApp {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 100vw; */
  align-items: center;
  background-image: url("./images/kelly-sikkema-Oz_J_FXKvIs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
}

#list {
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}


#login-warning {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.281);
}

#navigation{
    width: 100%;
    background-color: rgba(68, 68, 68, 0.473);
}

.navbar-brand {
    font-size: 10px;
}

